@use "sass:color";
@use "sass:map";
@use "assets/scss/variables.scss" as *;

@mixin card($fill: gray) {
  padding: 20px;
  background-color: $fill;
  border: none;
  border-radius: 10px;
}

@mixin row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

$sizes: (
  "small": 600px,
  "medium": 900px,
  "large": 1100px,
);

@mixin at-least($size) {
  @media (width >= map.get($sizes, $size)) {
    @content;
  }
}

@mixin at-most($size) {
  @media (width < map.get($sizes, $size)) {
    @content;
  }
}

@mixin button($fill: gray) {
  @include card($fill);
  cursor: pointer;

  &:hover {
    background-color: color.adjust($fill, $blackness: 5%);
  }
  &:active {
    background-color: color.adjust($fill, $blackness: 10%);
  }
}
