$font-title: Montserrat, sans-serif;
$font-text: Open Sans, sans-serif;

$dim-gray: #666666;
$white: #ffffff;
$shamrock-green: #029f59;
$dark-slate-gray: #254741;

$persian-green: #339989;
$tiffany-blue: #7de2d1;
$snow: #fffafb;
$jet: #2b2c28;
$night: #131515;
