$font-title: Montserrat, sans-serif;
$font-text: Open Sans, sans-serif;

$color-default: #2b2f34;
$color-primary: #029f59;
$color-secondary: #254741;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #d7d7d7;
$color-gray-light: #fafafa;
$color-gray-dark: #c6c6c6;
$color-gray-darker: #9d9c9c;
$color-primary-light: #f5f7f3;

$color-title: #000000;
$color-text: #666666;

$ultra-screen-size: 1450px;
$large-screen-size: 1100px;
$medium-screen-size: 900px;
$compact-screen-size: 700px;
$small-screen-size: 600px;

$persian-green: #339989;
$tiffany-blue: #7de2d1;
$snow: #fffafb;
$jet: #2b2c28;
$night: #131515;
